section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-people{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    img {
        width: 100px;
        cursor: pointer;
        margin: 10px;
    }
}

.c-questions {
    display: flex;
    flex-direction: column;
    border: 6px solid #FE4F60;
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 30px;
    font-family: Arial;
    color: #333333;
    
    .options{
        display: flex;
        flex-wrap: wrap;
    }
    
    button {
        border-radius: 10px;
        min-width: 200px;
        padding: 10px;
        background-color: #FE4F60;
        color: #FFFFFF;
        border: 0;
        margin-right: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }
}

.c-clues {
    width: 100%;
    text-align: center;
}

